body {
    display: flex;
    height: 100vh;
}

fieldset {
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
    justify-content: center;
    text-align: center;
}

div {
    margin-bottom: 5px;
}

.radius {
    font-size: larger;
}

.shadow {
    font-size: larger;
}